---
howIfoundThis: "ggle srch planned to destroy islm http://forum.whyislam.org/forum_posts.asp?TID=2427&get=last"

sources: "https://www.theguardian.com/world/2013/oct/11/islam-converts-british-women-prejudice"

description: "I had a fairly stereotypical view of Islam, but became impressed with the strength the people derived from their faith."

title: "In my heart, I began to consider myself a Muslim"
title2: I had a fairly stereotypical view of Islam



og_image: https://2.bp.blogspot.com/--dn_CBK4Nvg/WThB2T4A5JI/AAAAAAAACm0/BI4etaAagDc5O0s74csbZUA_YqPo6oHIgCLcB/s1600/Ioni-Sullivan.jpg

header:
  image:  
  teaser: https://1.bp.blogspot.com/-FDGTyraf8Is/WTg-K0OSYSI/AAAAAAAACmo/Tl5JWySCN6EvJFgEZI1NNL3yb-uuQv4ZwCLcB/s1600/Ioni-Sullivan.jpg

categories: []

tags: [Business, Celebrities, Converts, Funny, Hijab, History, Images, Inspirational, Islamophobia, Money, Muhammad, News, Palestine, Politics, Quran, Racism, Videos, Women]

author_profile: false
---

<p>
I was born and raised in a middle-class, left-leaning, atheist family; my father was a professor, my mother a teacher. When I finished my MPhil at Cambridge in 2000, I worked in Egypt, Jordan, Palestine and Israel. 
</p>

<p>
Back then, I had a fairly stereotypical view of Islam, but became impressed with the strength the people derived from their faith. Their lives sucked, yet nearly everyone I met seemed to approach their existence with a tranquillity and stability that stood in contrast to the world I'd left behind.
</p>

{% include ads/ad-flwst-1.html %}

<p>
In 2001, I fell in love with and married a Jordanian from a fairly non-practising background. At first we lived a very western lifestyle, going out to bars and clubs, but around this time I started an Arabic course and picked up an English copy of the Qur'an.
</p>

<p>
I found myself reading a book that claimed that the proof of God's existence was in the infinite beauty and balance of creation, not one that asked me to believe God walked the Earth in human form; I didn't need a priest to bless me or a sacred place to pray.
</p>

{% include ads/ad-flwst-2.html %}

<p>
Then I started looking into other Islamic practices that I'd dismissed as harsh: fasting, compulsory charity, the idea of modesty. I stopped seeing them as restrictions on personal freedom and realised they were ways of achieving self-control.
</p>

<p>
In my heart, I began to consider myself a Muslim, but didn't feel a need to shout about it; part of me was trying to avoid conflict with my family and friends. In the end it was the hijab that "outed" me to wider society: I began to feel I wasn't being true to myself if I didn't wear it. It caused some friction, and humour, too: people kept asking in hushed tones if I had cancer. But I've been pleasantly surprised at how little it has mattered in any meaningful relationship I have.
</p>

<p>
Source: The Guardian
</p>


